name: 50 days vue challenge

on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/checkout@v4
        with:
          node-version: '24'
      - name: Install dependencies
        run: npm
      - name: Build the project
        run: npm run build
      - name: Deploy to gh pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          publish_dir: ./dist
